[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
docker = "*"
scikit-learn = "==1.0.2"
mlflow = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
